<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>당신이 좋아하는 사람이 누군지 알려주세요.</title>
</head>

<body>

<main layout:fragment="main">
    <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
        <div>먼저 본인의 인스타그램 아이디를 입력해주세요.</div>

        <div>
            <a href="/instaMember/connect" className="btn btn-link">본인의 인스타그램 아이디 입력하기</a>
        </div>
    </th:block>

    <th:block th:if="${@rq.member.hasConnectedInstaMember}">
        <script th:inline="javascript">
            const myInstaMemberUsername = /*[[ ${@rq.member.instaMember.username} ]]*/ null;

            function AddForm__submit(form) {
                // username 이(가) 올바른지 체크

                form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

                if (form.username.value.length === 0) {
                    toastWarning('상대방의 인스타그램 아이디를 입력해주세요.');
                    form.username.focus();
                    return;
                }

                if (form.username.value.length < 4) {
                    toastWarning('상대방의 인스타그램 아이디를 4자 이상 입력해주세요.');
                    form.username.focus();
                    return;
                }

                if (form.username.value === myInstaMemberUsername) {
                    toastWarning('본인을 호감상대로 등록할 수 없습니다.');
                    form.username.focus();
                    return;
                }

                const $checkedAttractiveTypeCodeRadioButton = $(form).find("[name=attractiveTypeCode]:checked");

                if ($checkedAttractiveTypeCodeRadioButton.length === 0) {
                    toastWarning('상대방의 매력포인트를 선택해주세요.');
                    $(form).find("[name=attractiveTypeCode]:first").focus();
                    return;
                }

                form.submit(); // 폼 발송
            }
        </script>

        <form th:action method="POST" className="p-10 max-w-sm flex flex-col gap-4"
              onSubmit="AddForm__submit(this); return false;">
            <div>
                당신의 인스타ID : <span className="badge" th:text="${@rq.member.instaMember.username}"></span>
            </div>
            <div>
                <input type="text" name="username" autoComplete="off" maxLength="30" placeholder="상대방의 인스타그램 아이디"
                       className="input input-bordered">
            </div>
            <div>
                <div className="form-control">
                    <label className="label cursor-pointer">
                        <span className="label-text">외모</span>
                        <input type="radio" name="attractiveTypeCode" value="1" className="radio focus:bg-red-100">
                    </label>
                </div>
                <div className="form-control">
                    <label className="label cursor-pointer">
                        <span className="label-text">성격</span>
                        <input type="radio" name="attractiveTypeCode" value="2" className="radio focus:bg-red-100">
                    </label>
                </div>
                <div className="form-control">
                    <label className="label cursor-pointer">
                        <span className="label-text">능력</span>
                        <input type="radio" name="attractiveTypeCode" value="3" className="radio focus:bg-red-100">
                    </label>
                </div>
            </div>
            <div>
                <input type="submit" value="추가" className="btn btn-primary">
            </div>
        </form>
    </th:block>
</main>
</body>

</html>