<html layout:decorate="~{usr/layout/layout.html}">

<head>
  <title>당신이 좋아하는 사람들</title>
</head>

<body>

<main layout:fragment="main">
  <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
    <div>먼저 본인의 인스타그램 아이디를 입력해주세요.</div>

    <div>
      <a href="/instaMember/connect" class="btn btn-link">본인의 인스타그램 아이디 입력하기</a>
    </div>
  </th:block>

  <th:block th:if="${@rq.member.hasConnectedInstaMember}">
    <ul>
      <li th:each="likeablePerson: ${likeablePeople}">
        <span class="toInstaMember_username" th:text="${likeablePerson.toInstaMember.username}"></span>
        <span class="toInstaMember_attractiveTypeDisplayName"
              th:text="${likeablePerson.attractiveTypeDisplayName}"></span>
        <a href="javascript:;" onclick="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();">삭제</a>
        <form hidden th:action="@{|delete/${likeablePerson.id}|}" method="POST"></form>
      </li>
    </ul>
  </th:block>
</main>
</body>

</html>
