<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>호감사유 변경</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">

    <script th:inline="javascript">
        const inputValue__attractiveTypeCode = /*[[ ${likeablePerson.attractiveTypeCode} ]]*/ null;

        function ModifyLikeForm__submit(form) {
            if ( inputValue__attractiveTypeCode == form.attractiveTypeCode.value ) {
                toastWarning('기존 호감사유와 다른 호감사유로 변경해주세요.');
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen-to-square"></i>
            호감사유 변경
        </h1>

        <form class="flex flex-col gap-6" method="POST" th:action
              onsubmit="ModifyLikeForm__submit(this); return false;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">
                        <i class="fa-regular fa-clock"></i>
                        호감표시
                    </span>
                </label>
                <span class="badge badge-primary"
                      th:text="${#temporals.format(likeablePerson.createDate, 'yy.MM.dd HH:mm')}"></span>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">
                        <i class="fa-brands fa-instagram"></i>
                        당신의 인스타 아이디
                    </span>
                </label>
                <div class="badge badge-primary" th:text="${likeablePerson.fromInstaMember.username}"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">
                        <i class="fa-brands fa-instagram"></i>
                        상대방 인스타 아이디
                    </span>
                </label>
                <div class="badge badge-primary" th:text="${likeablePerson.toInstaMember.username}"></div>
                <a th:href="@{|https://instagram.com/${likeablePerson.toInstaMember.username}|}" target="_blank"
                   class="block mt-3 text-sm break-all underline text-blue-400">
                    <span>https://instagram.com/</span><span th:text="${likeablePerson.toInstaMember.username}"
                                                             class="text-red-300"></span>
                </a>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">
                        <i class="fa-solid fa-check"></i>
                        기존 호감사유
                    </span>
                </label>
                <div class="badge badge-primary" th:text="${likeablePerson.attractiveTypeDisplayName}"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">
                        <i class="fa-solid fa-check"></i>
                        새 호감사유
                    </span>
                </label>

                <!-- 라벨을 클릭하면 라벨의 하위요소인 버튼(체크,라디오,일반 등)이 클릭되는 효과) -->
                <div class="flex justify-center gap-4">
                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="attractiveTypeCode" value="1" class="radio peer">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-person-rays"></i>
                                외모
                            </span>
                    </label>

                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="attractiveTypeCode" value="2" class="radio peer">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-regular fa-face-smile"></i>
                                성격
                            </span>
                    </label>

                    <label class="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="attractiveTypeCode" value="3" class="radio peer">
                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-people-roof"></i>
                                능력
                            </span>
                    </label>

                    <script th:inline="javascript">
                        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
                        $(`input[name=attractiveTypeCode][value=${inputValue__attractiveTypeCode}]:last`)
                            .prop('checked', true)
                            .prop('disabled', true);
                    </script>
                </div>

            </div>

            <button id="btn-modify-like-1" class="btn btn-block btn-primary gap-1">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>호감사유 변경</span>
            </button>
        </form>

        <div class="text-center mt-4">
            <a th:if="${@rq.member.hasConnectedInstaMember}" href="/likeablePerson/add"
               class="btn btn-link">
                <span>
                    <i class="fa-solid fa-heart-circle-plus mr-1"></i>
                    호감표시&nbsp;
                </span>
            </a>
            <a th:if="${@rq.member.hasConnectedInstaMember}" href="/likeablePerson/list"
               class="btn btn-link">
                <span>
                    <i class="fa-solid fa-list-ol mr-1"></i>
                    호감목록
                </span>
            </a>
            <a th:if="${@rq.member.hasConnectedInstaMember}" href="/member/me" class="btn btn-link">
                <span>
                    <i class="fa-solid fa-user mr-1"></i>
                    내 정보
                </span>
            </a>
        </div>
    </div>
</main>
</body>

</html>
