<html layout:decorate="~{common/layout.html}">

<body>

<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"/>
                    </svg>
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li th:if="${@rq.logout}"><a href="/member/login"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i> 로그인</a>
                    </li>
<!--                        <li th:if="${@rq.logout}"><a href="/member/join"><i class="fa-solid fa-user-plus"></i> 회원가입</a>-->
<!--                        </li>-->
                    <li th:if="${@rq.admin}"><a href="/adm/home/main"><i class="fa-solid fa-gauge"></i> 관리자 페이지</a>
                    </li>
<!--                    <li th:if="${@rq.login}"><a href="/member/pop"><i class="fa-solid fa-chart-line"></i> 내 인기</a>-->
<!--                    </li>-->
                    <li th:if="${@rq.login}">
                        <a href="/likeablePerson/toList">
                            <i class="fa-solid fa-list-ul"></i> 내가 받은 호감
                        </a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/member/me"><i class="fa-solid fa-user"></i> 내 정보</a></li>
                    <div th:if="${@rq.login}" class="divider"></div>
                    <li th:if="${@rq.login}"><a href="/likeablePerson/add"><i
                            class="fa-solid fa-heart-circle-plus"></i> 호감표시</a></li>
                    <li th:if="${@rq.login}"><a href="/likeablePerson/list"><i class="fa-solid fa-list-ol"></i> 호감목록</a>
                    </li>
                    <li th:if="${@rq.login}" th:unless="${@rq.member.hasConnectedInstaMember}">
                        <a href="/instaMember/connectByApi">
                            <i class="fa-brands fa-instagram"></i>
                            인스타 아이디 연결
                        </a>
                    </li>
                    <div th:if="${@rq.login}" class="divider"></div>
                    <li><a href="/usr/home/about"><i class="fa-solid fa-circle-info"></i> YOULIKE란?</a>
                    </li>
                    <li th:if="${@rq.login}">
                        <a href="javascript:" onclick="$(this).next().submit();">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃
                        </a>
                        <form class="!hidden" hidden th:action="|/member/logout|" method="POST"></form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a href="/" class="btn btn-ghost normal-case text-xl">
                <span class="hidden min-[341px]:inline">
                    YOU
                    💕
                    LIKE
                </span>
                <span class="min-[341px]:hidden">gg</span>
                &nbsp;
            </a>
        </div>
        <div class="navbar-end">
            <a href="/member/pop" class="btn btn-ghost gap-1" th:if="${@rq.login}">
                <i class="fa-solid fa-chart-line"></i>
            </a>
            <a href="/notification/list" class="btn btn-ghost btn-circle" th:if="${@rq.login}">
                <div class="indicator">
                    <i class="fa-regular fa-bell"></i>
                    <span data-test="hasUnreadNotifications" th:if="${@rq.hasUnreadNotifications}"
                          class="badge badge-xs badge-primary indicator-item"></span>
                </div>
            </a>
            <a href="/usr/home/about" class="btn btn-ghost btn-circle" th:if="${@rq.logout}">

                <i class="fa-solid fa-circle-info"></i>

            </a>
        </div>
    </div>
</header>

</body>
</html>