<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div th:unless="${@rq.member.hasConnectedInstaMember}" th:include="usr/part/needToConnect::base"></div>

    <div th:if="${@rq.member.hasConnectedInstaMember}" class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-user"></i>
            내 정보
        </h1>

        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-user"></i>
                        내 정보
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">인스타 아이디</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-brands fa-instagram"></i>
                            <span th:text="${@rq.member.instaMember.username}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">성별</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-half-dress"></i>
                            <span th:text="${@rq.member.instaMember.genderDisplayName}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">이름</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-user"></i>
                            <span th:text="${@rq.member.nickname}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">가입</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-regular fa-clock"></i>
                            <span th:text="${#temporals.format(@rq.member.createDate, 'yy.MM.dd')}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-circle-info"></i> 호감사유별 인기
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">전체</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-heart"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likes, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <hr class="mt-2">

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">외모</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-rays"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByAttractionTypeCode1, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">성격</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-regular fa-face-smile"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByAttractionTypeCode2, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">능력</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-people-roof"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByAttractionTypeCode3, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-person-half-dress"></i> 성별 인기
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">전체</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-heart"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likes, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <hr class="mt-2">

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">여성</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-dress"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderWoman, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">남성</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderMan, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-person-dress"></i> 여성들로부터 받은 호감
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">외모</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-rays"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderWomanAndAttractiveTypeCode1, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">성격</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-regular fa-face-smile"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderWomanAndAttractiveTypeCode2, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">능력</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-people-roof"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderWomanAndAttractiveTypeCode3, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="fa-solid fa-person"></i> 남성들로부터 받은 호감
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">외모</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-rays"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderManAndAttractiveTypeCode1, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">성격</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-regular fa-face-smile"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderManAndAttractiveTypeCode2, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">능력</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-people-roof"></i>&nbsp;<span
                                th:text="|${#numbers.formatInteger(@rq.member.instaMember.likesCountByGenderManAndAttractiveTypeCode3, 0, 'COMMA')}명|"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="mt-10 mb-4">
            <i class="fa-solid fa-fire"></i>
            최근에 받은 호감
        </h1>

        <div class="text-center mt-10" th:if="${#lists.isEmpty(@rq.member.instaMember.toLikeablePeople)}">
            <i class="fa-regular fa-face-laugh"></i> 최근에 받은 호감이 없습니다.
        </div>

        <div class="flex flex-col gap-4" th:if="${!#lists.isEmpty(@rq.member.instaMember.toLikeablePeople)}">
            <div class="card bg-base-100 shadow-xl"
                 th:each="likeablePerson, i: ${@rq.member.instaMember.toLikeablePeople}">
                <div class="card-body">
                    <h2 class="card-title">
                        <span th:text="|No. ${i.index + 1} / ${i.size}|"></span>
                    </h2>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">호감표시</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-regular fa-clock"></i>
                            <span th:text="${#temporals.format(likeablePerson.createDate, 'yy.MM.dd HH:mm')}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">성별</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-person-half-dress"></i>
                            <span th:text="${likeablePerson.fromInstaMember.genderDisplayName}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div>
                            <span class="badge badge-primary">호감사유</span>
                        </div>
                        <div class="mt-2">
                            <i class="fa-solid fa-circle-info"></i>
                            <span th:text="${likeablePerson.attractiveTypeDisplayName}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</body>

</html>